@media screen and (max-width: 920px) {
    .container{
        position: relative;
        height: 100%;
    }
    .tracker{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .category{
        
        width: 100%;
    }

    .hours{
        display: flex;
        align-items:center ;
        justify-content: space-between;
    }

    

    .profile-intro{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }

    .profile-title{
        margin: 0 2rem;
    }

    .time-links{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
        padding: 1rem;
    }

    footer{
        position: static;
        
    }

    
}