@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
}

:root{
    /*Neutral*/
    --veryDarkBlue: hsl(226, 43%, 10%);
    --darkBlue: hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue: hsl(235, 45%, 61%);
    /*Primary*/
    --blue: hsl(246, 80%, 60%);
    --redWork: hsl(15, 100%, 70%);
    --softBlueplay: hsl(195, 74%, 62%);
    --lightRedStudy: hsl(348, 100%, 68%);
    --limeGreenExe: hsl(145, 58%, 55%);
    --violetSocial: hsl(264, 64%, 52%);
    --softOrangeCare: hsl(43, 84%, 65%);

}

body{
    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: var(--veryDarkBlue);
}

h1{
    font-size: 2rem;
    font-weight: 100;
    color: hsl(208, 100%, 97%);
}

h2{
    font-size: 36px;
    font-weight: 100;
}

h3{
    font-size: 12px;
}

small{
    font-weight: 300;
    font-size: 10px;
    color: var(--paleBlue);
}

.container{
    width: 80%;
}

.tracker{
    width: 70%;
    display: flex;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'a1 a2 a3 a4'
                         'a1 a5 a6 a7';
    gap: 10px;
    margin: auto;
}


.category{    
    width: 180px;
    height: 160px;
    border-radius: 15px;
    position: relative;
}

.item1{
    grid-area: a1;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--darkBlue)
}
.item2{
    background-color: var(--redWork);
    grid-area: a2;
}
.item3{
    grid-area: a3;
    background-color: var(--softBlueplay);
}
.item4{
    grid-area: a4;
    background-color: var(--lightRedStudy);
}
.item5{
    grid-area: a5;
    background-color: var(--limeGreenExe);
}
.item6{
    grid-area: a6;
    background-color: var(--violetSocial);
}
.item7{
    grid-area: a7;
    background-color: var(--softOrangeCare);
}

#profile-pic{
    width: 3.5rem;
    border: 0.2rem solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-top: 1rem;
}

.profile-size{
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    border-radius: 15px;
}

.profile-intro{
    width: 100%;
    height: 70%;
    background-color: var(--blue);
    margin: auto;
}

.profile-intro small{
    color: hsla(208, 100%, 97%, 0.412);
}


.profile-title{
    margin: 1rem 0;
}

.time-links{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.time-links a{
    padding: 0.25rem 0;
    font-weight: 300;
    color: var(--desaturatedBlue);
}

.time-links a:hover{
    color: hsl(208, 100%, 97%);
}

.category-img{
    width: 3.5rem;
    position: absolute;
    right: 0;
    padding-right: 0.6rem;
}

.time-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--darkBlue);
    color: hsl(208, 100%, 97%);
    border-radius: 15px;
}

.time-interface{
    width: 80%;
    margin: 1rem auto;
}
.category-nav{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.hours{
    margin-top: 0.7rem;
}

footer{
    position: absolute;
    bottom: 0;
    margin: auto;
    color: hsl(208, 100%, 97%);
}